<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Define configuration sections first -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<!-- Connection strings section -->
	<connectionStrings>
		<add name="PUCConnectionString"
             connectionString="Data Source=AARUSH\VARUNMEHTA;Initial Catalog=ProUnitConverterDB;User ID=sa;Password=Aarush@122015;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Log4net settings -->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="log-file.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
</configuration>
